.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    color: white;
    padding: 1rem;
    font-weight: bolder;
}
.remove-sidebar-button{
    color: white;
    font-size: 1rem;
    border: none;
    background-color: darkblue;
    box-shadow: none;
    outline: none;
}
.sidebar {
    width:35%;
    height: 100vh;
    background-color: rgb(233, 247, 252);
    position: fixed;
    top: 0;
    right: -50%;
    transition: right 0.3s ease;
    z-index: 1000;
    color: black;
    overflow-y: auto;
    backdrop-filter: blur(900);

}

.sidebar-widget-list{
    margin: 1rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-weight: bolder;
    font-size: 1.1rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.sidebar-widget-list input[type="checkbox"] {
    margin-right: 10px;
    accent-color: blue;
}

.sidebar-widget-name{
    margin-left: 0.2rem;
}

.sidebar.active{
    right: 0;
}

.add-widget-section {
    margin: 1rem;
    /*margin-top: 1rem;*/
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.sidebar-add-widget-button {
    font-size: 1rem;
    background-color: #71c7e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 1rem;
    font-weight: 700;

}

.sidebar-add-widget-button:hover {
    background-color: darkblue;
}

.widget-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    overflow: hidden;
    padding: 1rem;
    border: 1px solid black;
}


.widget-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.submit-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

.cancel-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: end;
    justify-items: center;
    align-self: end;
}

.cancel-button:hover {
    background-color: #d32f2f;
}


